body{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    color: black;
    font-size: 15px;
}

.song_name{
    font-size: 20px;
}

canvas{
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}